""" {{ item.name }}.py:

Python implementation of the {{ item.name }} fprime component. This component is dependent on autocoded bindings that
map to this component. **Note:** ensure this file is renamed to {{ item.name }}.py in the current folder.
"""

# Required imports for the implementation to work
import fprime_pybind

# Typical, but optional, imports
import Fw
import {{ item.ns }}


class {{ item.name }}(fprime_pybind.{{ item.name }}Base):
    """ Implementation of {{ item.name }} component. """

    def __init__(self):
        """ Constructor implementation """
        pass # TODO: fill out custom constructing logic

    {% for in_port in item.in_ports -%}
    def {{ in_port.name }}_handler(self, {{ ", ".join(in_port.arg_names) }}):
        """ Port handler for {{ in_port.name }} """
        pass # TODO: implement {{ in_port.name }}
    {% endfor %}
    {% for command in item.commands -%}
    def {{ command.name }}_cmdHandler(self, {{ ", ".join(command.arg_names) }}):
        """ Command handler for {{ command.name }} """
        self.cmdResponse_out(opCode, cmdSeq, Fw.CommandResponse.COMMAND_OK) # TODO: implement {{ command.name }}

    {% endfor %}
